body {
  font-family: "Roboto" , sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./joe-woods-4Zaq5xY5M_c-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#main {
  color: black;
  border: 5px solid black;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
  padding: auto;
}

div {
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: impact;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

p {
    font-size: 35px;
  }

  button:hover {
    background-color: green;
  }
